/* #ifndef APP-PLUS-NVUE */
:root {
  --main: #fd6801;
  --main-hover: #f77417;
  --main-disabled: #f8b88b;
}
/* #endif */

/* 文字 */
.text-main {
  color: #fd6801;
  /* #ifndef APP-PLUS-NVUE */
  color: var(--main) !important;
  /* #endif */
}
.text-hover-main {
  color: #f77417;
  /* #ifndef APP-PLUS-NVUE */
  color: var(--main-hover) !important;
  /* #endif */
}

/* 背景 */
.bg-main {
  background-color: #fd6801;
  /* #ifndef APP-PLUS-NVUE */
  background-color: var(--main) !important;
  /* #endif */
}
.bg-hover-main {
  background-color: #f77417;
  /* #ifndef APP-PLUS-NVUE */
  background-color: var(--main-hover) !important;
  /* #endif */
}
.bg-disabled-main {
  background-color: #f8b88b;
  /* #ifndef APP-PLUS-NVUE */
  background-color: var(--main-disabled) !important;
  /* #endif */
}

/* 边框 */
.border-main {
  border-color: #fd6801;
  /* #ifndef APP-PLUS-NVUE */
  border-color: var(--main) !important;
  /* #endif */
}

/* 行高 */
.line-h {
  line-height: 1;
}
